services:
  database:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U myuser -d mydb']
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
  migrator:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
      target: migrator
    restart: no
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://myuser:mypassword@database:5432/mydb
    depends_on:
      database:
        condition: service_healthy
  api:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
      target: api
    ports:
      - '5000:5000'
    environment:
      - NODE_ENV=production
      - PORT=5000
      - DATABASE_URL=postgresql://myuser:mypassword@database:5432/mydb
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:5000/live',
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    depends_on:
      migrator:
        condition: service_completed_successfully
  seq:
    image: datalust/seq:latest
    restart: unless-stopped
    ports:
      - '5341:5341'
      - '8080:8080'
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_ADMINUSERNAME: admin
      SEQ_FIRSTRUN_ADMINPASSWORD: 'StrongPassword123!'
