services:
  migrator:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
      target: migrator
    restart: no
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL:?}
  api:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
      target: api
    ports:
      - '5000:5000'
    environment:
      - NODE_ENV=production
      - PORT=5000
      - DATABASE_URL=${DATABASE_URL:?}
      - CORS_ORIGIN=${CORS_ORIGIN:?}
      - CLERK_PUBLISHABLE_KEY=${CLERK_PUBLISHABLE_KEY:?}
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY:?}
      - S3_ENDPOINT=${S3_ENDPOINT:?}
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID:?}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY:?}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME:?}
      - S3_FORCE_PATH_STYLE=false
      - S3_REGION=auto
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:5000/live',
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    depends_on:
      migrator:
        condition: service_completed_successfully
